{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <section class="container-fluid section-wh">
        <div class="col">
            <p class="content-post logo-font">
                WE ARE A TEAM OF PROFESSIONALS SPECIALIZING IN PORTRAIT PHOTOGRAPHY, FINE ART, AND WORKSHOPS.
            </p>
            <p class="content-post-add">
                REGISTER NOW FOR EXCLUSIVE ACCESS TO BLOG CONTENT CURATED BY RENOWNED PHOTOGRAPHERS.
            </p>
        </div>
    </section>
{% endblock %}

{% block content %}
{% endblock %}


