core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
*.sqlite3
*.pyc
.env
backup/
bag/views copy working.py
products/templates/products/product_detail copy.html
bag/views copy.py
