<div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-end nav-text">
        <li class="nav-item">
            <a class="nav-link active logo-font fw-bold text-black" aria-current="page" href="{% url 'home' %}">ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active logo-font fw-bold text-black" aria-current="page" href="{% url 'headshots' %}">HEADSHOTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active logo-font fw-bold text-black" aria-current="page" href="{% url 'artsale' %}">ARTSALE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active logo-font fw-bold text-black" aria-current="page" href="{% url 'workshop' %}">WORKSHOPS</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active logo-font fw-bold nav-link text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MEMBER
            </a>
        <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdownMenuLink">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'add_product' %}">Product Administration</a></li>
                {% endif %}
                    <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item logo-font fw-bold text-black" href="{% url 'account_signup' %}">Register</a></li>
                    <li><a class="dropdown-item logo-font fw-bold text-black" href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
        </li>
        <!-- Shopping bag link -->
        <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                <div class="text-center">
                    <div style="display: inline-block;"><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0" style="display: inline-block;">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>
