<div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-end nav-text">
        <li class="nav-item">
            <a class="nav-link active logo-font fw-bold text-black " aria-current="page" href="{% url 'home' %}">ABOUT</a>
        </li>
        <hr class="m-0">
        <li class="nav-item">
            <a class="nav-link active logo-font fw-bold text-black" aria-current="page" href="{% url 'headshots' %}">HEADSHOTS</a>
        </li>
        <hr class="m-0">
        <li class="nav-item">
            <a class="nav-link active logo-font fw-bold text-black" aria-current="page" href="{% url 'artsale' %}">ARTSALE</a>
        </li>
        <hr class="m-0">
        <li class="nav-item">
            <a class="nav-link active logo-font fw-bold text-black" aria-current="page" href="{% url 'workshop' %}">WORKSHOPS</a>
        </li>
        <hr class="m-0">
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link active logo-font fw-bold text-black" aria-current="page" href="{% url 'blog' %}">BLOG</a>
            </li>
            <hr class="m-0">
        {% endif %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active logo-font fw-bold nav-link text-black" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MEMBER
            </a>
        <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdownMenuLink">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'add_product' %}">Product Administration</a></li>
                {% endif %}
                    <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item logo-font fw-bold text-black" href="{% url 'account_signup' %}">Register</a></li>
                    <li><a class="dropdown-item logo-font fw-bold text-black" href="{% url 'account_login' %}">Login</a></li>
            {% endif %}
        </ul>
        </li>
        <!-- Shopping bag link -->
        <li class="list-inline-item text-left">
            {% if grand_total %}
            <li class="nav-item">
                <a class="col-auto d-flex align-items-center nav-link" href="{% url 'view_bag' %}">
                    <i class="text-info font-weight-bold fas fa-shopping-bag fa-lg mr-2"></i>
                    <span class="ml-2 text-info font-weight-bold" style="margin-left: 10px !important;">£{{ grand_total|floatformat:2 }}</span>
                </a>
            </li>
                    {% else %}
                    {% endif %}
                </p>
            </a>
        </li>
    </ul>
</div>
